[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/cpr"]
	path = extern/cpr
	url = https://github.com/libcpr/cpr
