[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/cpp-netlib"]
	path = extern/cpp-netlib
	url = https://github.com/cpp-netlib/cpp-netlib
